.about-us {
  padding: 30px 30px 0 30px;
}

.about-us__main-title {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 25px;
}

.about-us__advantages {
  @include lists;
}

.about-us__advantage {
  padding: 50px 6px 33px 0;
  width: 260px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.about-us__advantage--ecology {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 5px 0;
}

.about-us__advantage--style {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 0 0;
}

.about-us__advantage--like {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 5px 0;
}

.about-us__advantage--handle {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 2px 0;
}

.about-us__advantage--producer {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: -3px 0;
}

.about-us__advantage--wrapper {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 2px 0;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 60px 0 5px 0;
  }

  .about-us__main-title {
    margin-bottom: 50px;
    font-size: 43px;
  }

  .about-us__advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px;
  }

  .about-us__advantage {
    padding: 50px 6px 60px 0;
    width: 334px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding: 98px 10px 23px 175px;
  }

  .about-us__main-title {
    font-size: 53px;
  }

  .about-us__advantages {
    width: 700px;
    height: 475px;
  }

  .about-us__advantage {
    width: 350px;
  }

  .about-us__advantage--like {
    background-position: 7px 5px;
  }
}
