.button-menu {
  display: block;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  &--open {
    background-image: url("../img/icon-menu-open.svg");
    display: none;
  }

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .button-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .button-menu {
    display: none;
  }
}
