.button-menu {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .button-menu {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .button-menu {
    display: none;
  }
}
