.button-buy {
  display: block;
  width: 21px;
  height: 19px;
  background-color: #ffffff;
  border: none;

  &:hover .button-buy__icon-basket {
    fill: #63d1bb;
  }

  &:active .button-buy__icon-basket {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.button-buy__icon-basket {
  fill: #d3d2d2;
}
