.catalog-list-item {
  position: relative;
  margin-top: 30px;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.catalog-list-item__link {
  @include catalog-link;
  display: block;
}

.catalog-list-item__link img {
  display: block;
  background-color: #ffffff;
}

.catalog-list-item__link--block-image {
  margin-bottom: 25px;
}

.catalog-list-item__link-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 28px;
  width: 212px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-list-item__description {
  margin: 0;
  margin-left: 28px;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  width: 205px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #f1f1f1;
}

.catalog-list-item__price {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  padding-left: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
}

.catalog-list-item__button {
  position: absolute;
  right: 26px;
  bottom: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-list-item {
    display: flex;
    margin-top: 53px;
  }

  .catalog-list-item__link {
    width: 334px;
  }

  .catalog-list-item__wrapper {
    padding-top: 25px;
  }

  .catalog-list-item__link--block-image {
    margin-bottom: 0;
  }

  .catalog-list-item__link-title {
    font-size: 20px;
    line-height: 24px;
    width: 230px;
  }

  .catalog-list-item__description {
    margin-left: 28px;
    margin-bottom: 22px;
    padding-bottom: 175px;
    width: 268px;
    font-size: 15px;
  }

  .catalog-list-item__description--toys {
    padding-bottom: 152px;
  }

  .catalog-list-item__price {
    font-size: 17px;
  }

  .catalog-list-item__button {
    right: 31px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list-item {
    flex-direction: column;
    margin-top: 0;
    margin-right: 48px;
  }

  .catalog-list-item:nth-child(3n) {
    margin-right: 0;
  }

  .catalog-list-item__link {
    width: 250px;
  }

  .catalog-list-item__link--block-image {
    margin-bottom: 25px;
    width: 316px;
  }

  .catalog-list-item__wrapper {
    padding-top: 0;
  }

  .catalog-list-item__link-title {
    margin-bottom: 8px;
  }

  .catalog-list-item__description {
    padding-bottom: 37px;
    width: 250px;
  }

  .catalog-list-item__description--toys {
    margin-top: 0;
    padding-bottom: 13px;
  }

  .catalog-list-item__price {
    padding-bottom: 24px;
  }
}
