.filter-type-list {
  @include lists;
}

.filter-type-list__option {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  padding-left: 62px;
}

.filter-type-list__label {
  position: relative;
  display: block;
}

.filter-type-list__item + .filter-type-list__label {
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -62px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #000000;
  }

  &:hover {
    &::before {
      border: 2px solid #51c4b2;
    }
  }

  &:active {
    &::before {
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.filter-type-list__item:checked + .filter-type-list__label {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -50px;
    width: 16px;
    height: 16px;
    background-color: #51c4b2;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .filter-type-list {
    margin-top: -86px;
    margin-left: auto;
    padding-right: 165px;
    width: 336px;
  }

  .filter-type-list__option {
    margin-top: 60px;
    padding-left: 79px;
    width: 335px;
    box-sizing: border-box;
  }

  .filter-type-list__label {
    font-size: 19px;
    line-height: 22px;
  }

  .filter-type-list__item + .filter-type-list__label {
    &::before {
      top: -18px;
      left: -79px;
      width: 52px;
      height: 52px;
    }
  }

  .filter-type-list__item:checked + .filter-type-list__label {
    &::after {
      top: -1px;
      left: -62px;
      width: 21px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter-type-list {
    margin-right: auto;
    margin-left: 175px;
    padding-right: 10px;
    width: 350px;
  }

  .filter-type-list__option {
    width: 350px;
  }

  .filter-type-list__label {
    font-size: 19px;
    line-height: 22px;
  }
}
