.filters {
  width: 320px;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}

.filters__main-title {
  margin: 0;
  margin-left: -30px;
  padding: 77px 38px 77px 30px;
  width: 320px;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.filters__text {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
}
