.filters {
  margin: 0 auto;
  width: 260px;
  box-sizing: border-box;
}

.filters__main-title {
  margin: 0;
  margin-left: -30px;
  padding: 77px 38px 77px 30px;
  width: 320px;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.filters__text {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .filters {
    width: 678px;
  }

  .filters__main-title {
    margin-bottom: 80px;
    margin-left: -50px;
    padding: 108px 38px 75px 30px;
    width: 768px;
  }

  .filters__text {
    margin-top: 0;
    margin-bottom: 0;
    width: 630px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .filters {
    width: 1050px;
  }

  .filters__main-title {
    margin-bottom: 124px;
    margin-left: -50px;
    padding: 108px 38px 90px 30px;
    width: 1150px;
  }

  .filters__text {
    margin-left: 175px;
    width: 700px;
  }
}
