.filter-type-list {
  @include lists;
}

.filter-type-list__option {
  margin: 0;
  margin-top: 27px;
  padding: 0;
  padding-left: 62px;
}

.filter-type-list__label {
  position: relative;
  display: block;
}

@media (min-width: $tablet-width) {

  .filter-type-list {
    margin-top: -46px;
    margin-left: auto;
	padding-right: 165px;
    width: 336px;
  }
  
  .filter-type-list__option {
    margin-top: 24px;
    padding-left: 79px;
	width: 335px;
	box-sizing: border-box;
  }
  
  .filter-type-list__label {
    font-size: 19px;
	line-height: 22px;
  }
}
