.filters {
  margin: 0 auto;
  width: 260px;
  box-sizing: border-box;
}

.filters__text {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
  font-size: 13px;
}

@media (min-width: $tablet-width) {
  .filters {
    width: 100%;
  }

  .filters__text {
    margin-top: 0;
    margin-bottom: 0;
    width: 630px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .filters__text {
    margin-left: 175px;
    width: 700px;
  }
}
