.footer {
  /*width: 320px;*/
  width: 100%;
  max-width: 767px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.footer__wrapper {
  margin: 0 auto; /**/
  padding: 27px 30px 11px 30px;
  width: 320px;
  box-sizing: border-box;
}

.footer__logo {
  display: none;
}

.footer__social-contacts {
  @include lists;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 56px;
}

.footer__wrapper-bottom {
  padding-top: 15px;
  padding-bottom: 21px;
  border-top: 1px solid #e1e1e1;
}

.footer__email {
  display: block;
  margin: 0;
  padding-left: 38px;
  padding-right: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 22px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover path {
    fill: #51c4b2;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__email svg {
  margin-left: 15px;
  margin-bottom: -20px;
}

@media (min-width: $tablet-width) {
  .footer {
    /*width: 100%;*/
    max-width: 1149px;
  }

  .footer__wrapper {
    display: flex;
    margin: 0 auto;
    padding: 50px 50px 56px 50px;
    width: 768px;
  }

  .footer__logo {
    display: block;
    width: 260px;
    height: 34px;

    &[href]:hover .footer__icon-logo {
      fill: #46c1ae;
    }

    &[href]:active .footer__icon-logo {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .footer__social-contacts {
    width: 226px;
    padding-top: 5px;
    padding-right: 80px;
    padding-left: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .footer__wrapper-bottom {
    padding-top: 0;
    padding-bottom: 0;
    width: 181px;
    border: none;
    box-sizing: border-box;
  }

  .footer__email {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__email svg {
    margin-left: 2px;/*0;*/
  }
}

@media (min-width: $desktop-width) {
  .footer {/**/
    max-width: 1350px;
  }

  .footer__wrapper {
    padding: 51px 50px 53px 50px;
    width: 1150px;
  }

  .footer__logo {
    width: 450px;
    height: 34px;
  }

  .footer__social-contacts {
    padding-top: 12px;
    padding-right: 269px;
    width: 415px;
  }

  .footer__wrapper-bottom {
    width: 185px;
  }

  .footer__copyright {
    padding-right: 11px;
  }

  .footer__email {
    margin-left: 3px;
  }
}
