.goods {
  margin: 0 auto;
  width: 260px;
}

.goods__list {
  @include lists;
  margin-bottom: 30px;
}

.goods__video {
  margin-bottom: 58px;
  background-image: url("../img/icons/icon-video1.svg");
  background-repeat: no-repeat;
  background-position: 35px 34px;
  border: 1px solid #f1f1f1;
}

.goods__video-wrapper {
  position: relative;
  margin-top: 95px;
  width: 258px;

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    left: 79px;
    width: 101px;
    height: 77px;
    background-image: url("../img/catalog/play.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::before {
    top: 27px;
    left: 72px;
    width: 121px;
    height: 92px;
    background-size: cover;
  }

  &:active::before {
    top: 142px;
    left: 87px;
    width: 80px;
    height: 61px;
    opacity: 0.3;
  }
}

.goods__title {
  margin: 0;
  margin-top: -248px;
  margin-bottom: 233px;
  padding-top: 22px;
  padding-left: 90px;
  width: 131px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.goods__title--view {
  display: none;
}

.goods__wrapper {
  padding-bottom: 31px;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.goods__image {
  display: block;
}

.goods__video-description {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  width: 190px;
  font-size: 13px;
}

.goods__button-order {
  margin: 25px 0 0 34px;
  padding: 13px 10px 15px 10px;
  width: 192px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .goods {
    padding-top: 25px;
    width: 668px;
  }

  .goods__list {
    margin-bottom: 53px;
  }

  .goods__video {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
    background-position: 42px 485px;
  }

  .goods__video-wrapper {
    margin-top: 0;
    width: 668px;

    &::before {
      top: 189px;
      left: 283px;
      width: 102px;
      height: 78px;
    }

    &:hover::before {
      top: 179px;
      left: 275px;
      width: 122px;
      height: 94px;
      background-size: cover;
    }

    &:active::before {
      top: 201px;
      left: 291px;
      width: 81px;
      height: 62px;
      opacity: 0.4;
    }
  }

  .goods__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .goods__title {
    margin-top: 37px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 106px;
    width: 353px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods__video-description {
    margin-top: 35px;
    padding-left: 40px;
    width: 588px;
    font-size: 15px;
    line-height: 30px;
  }

  .goods__button-order {
    margin: 33px 0 45px 42px;
    padding: 14px 10px 13px 10px;
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    width: 1050px;
  }

  .goods__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
  }

  .goods__title {
    margin-top: 98px;
    padding-left: 78px;
    width: 182px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods__video {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 105px;
    background-position: 761px 47px;
  }

  .goods__video-wrapper {
    width: 682px;

    &::before {
      top: 189px;
      left: 290px;
      width: 102px;
      height: 78px;
    }

    &:hover::before {
      top: 179px;
      left: 282px;
      width: 122px;
      height: 94px;
      background-size: cover;
    }

    &:active::before {
      top: 179px;
      left: 298px;
      width: 82px;
      height: 62px;
      opacity: 0.4;
    }
  }

  .goods__wrapper {
    padding-right: 48px;
  }

  .goods__video-description {
    padding-left: 78px;
    width: 238px;
    font-size: 15px;
    line-height: 30px;
  }

  .goods__button-order {
    margin: 43px 0 60px 79px;
    padding: 13px 10px 15px 10px;
    width: 230px;
  }
}
