.header {
  margin: 0;
  padding: 0;
  /*width: 320px;*/
  max-width: 767px;/*new*/
  width: 100%;/*new*/
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.header__top-wrapper {/*new*/
  margin: 0 auto;
  width: 320px;
}

.header__button {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header {
    /*width: 100%;*/
    max-width: 1149px;/*new*/
    border: none;
  }

  .header__top-wrapper {
    margin: 0 auto;/*new*/
    padding: 0 50px;
    width: 768px;
    box-sizing: border-box;
  }

  .header__top-menu {
    display: flex;
    flex-wrap: wrap;
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    max-width: 1350px;
  }

  .header__top-wrapper {
    width: 1150px;
  }
}
