.header {
  margin: 0;
  padding: 0;
  width: 320px;
  box-sizing: border-box;
}

.header__button {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header {
    /* margin-bottom: -65px;*/
    width: 100%;
  }

  .header__top-wrapper {
    margin: 0 auto;
    padding: 0 50px;
    width: 768px;
    box-sizing: border-box;
  }

  .header__top-menu {
    display: flex;
    flex-wrap: wrap;
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  /*.header {
    margin-bottom: -69px;
  }*/

  .header__top-wrapper {
    width: 1150px;
  }
}
