.header {
  margin: 0;
  padding: 0;
  max-width: 767px;
  width: 100%;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.header__top-wrapper {
  margin: 0 auto;
  width: 320px;
}

.header__button {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .header {
    max-width: 1149px;
    border: none;
  }

  .header__top-wrapper {
    padding: 0 50px;
    width: 768px;
    box-sizing: border-box;
  }

  .header__top-menu {
    display: flex;
    flex-wrap: wrap;
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    /*max-width: 1350px;*/
    max-width: 100%;
    width: 100%;
  }

  .header__top-wrapper {
    width: 1150px;
  }
}
