.modal-button-order {
  display: block;
  width: 260px;

  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #63d1bb;
  border: none;
}
