.modal-title {
  width: 148px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  
  .modal-title {
    min-width: 360px;
    font-size: 30px;
    line-height: 57px;
  }
}
