.our-contacts {
  padding: 40px 30px 38px 30px;
}

.our-contacts__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.our-contacts__addresses {
  @include lists;
}

.our-contacts__addresses__point {
  display: flex;
  padding-bottom: 35px;
}

.our-contacts__email {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.our-contacts__address {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.our-contacts__address--email {
  margin-right: 0;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.our-contacts__address--fulladdress {
  margin-right: 0;
  line-height: 30px;
}

.our-contacts__small-map {
  margin: 0;
  margin-left: -30px;
  padding: 0;
}

.our-contacts__small-map-tablet {
  display: none;
}

.our-contacts__small-map-desktop {
  display: none;
}

.our-contacts__button-write-us {
  margin: 0;
  margin-top: 34px;
  padding: 15px 10px 13px 10px;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .our-contacts {
    padding: 78px 0 57px 0;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 665px 60px;
  }

  .our-contacts__title {
    margin-bottom: 54px;
    margin-left: 50px;
  }

  .our-contacts__addresses {
    display: flex;
    margin-left: 50px;
  }

  .our-contacts__addresses__point {
    width: 334px;
  }

  .our-contacts__address {
    font-size: 17px;
  }

  .our-contacts__email {
    width: 56px;
    font-size: 17px;
  }

  .our-contacts__address--email {
    position: relative;
    width: 211px;
    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      width: 204px;
      height: 1px;
      background-color: #62d1ba;
    }
  }

  .our-contacts__address--fulladdress {
    width: 222px;
  }

  .our-contacts__small-map {
    margin-left: -50px;
  }

  .our-contacts__small-map-mobile {
    display: none;
  }

  .our-contacts__small-map-tablet {
    display: block;
  }

  .our-contacts__button-write-us {
    margin-top: 25px;
    margin-left: 270px;
    padding: 15px 10px 15px 10px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .our-contacts {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 90px 0 136px 0;
    background-position: 62px 150px;
  }

  .our-contacts__title {
    margin-top: 70px;
    margin-bottom: 55px;
    margin-left: 0;
    padding-right: 78px;
  }

  .our-contacts__addresses {
    flex-direction: column;
    margin-left: 0;
  }

  .our-contacts__addresses__point {
    width: 301px;
  }

  .our-contacts__email {
    width: 54px;
  }

  .our-contacts__address--email {
    width: 205px;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
    }
  }

  .our-contacts__small-map {
    margin-left: 0;
  }

  .our-contacts__small-map-tablet {
    display: none;
  }

  .our-contacts__small-map-desktop {
    display: block;
  }

  .our-contacts__button-write-us {
    position: absolute;
    bottom: 105px;
    left: 175px;
    margin-top: 0;
    margin-left: 0;
  }
}
