.page-main {
  /*width: 320px;*/
  max-width: 767px;/**/
  width: 100%;/**/
}

.page-main__wrapper {/**/
  margin: 0 auto;
  /*max-width: 767px;/**/
  width: 320px;
}

.page-main__upper {/**/
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-main {
    max-width: 1149px;/**/
    /*width: 100%;*/
  }

  .page-main__wrapper {
    margin: 0 auto;/**/
    padding: 0 50px;
    width: 768px;
    box-sizing: border-box;
  }

  .page-main__upper {
    margin: 0 auto;/**/
    padding-right: 50px;
    width: 768px;
    box-sizing: border-box;
  }

  .page-main__upper--our-contacts {
    position: relative;
    padding-right: 0;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 768px;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 768px 24px;
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main { /**/
    max-width: 1350px;
  }

  .page-main__wrapper {
    width: 1150px;
  }

  .page-main__upper {
    width: 1150px;
  }

  .page-main__upper--our-contacts {
    padding: 0 50px;

    &::before {
      top: 0;
      left: 50px;
      width: 1050px;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-size: 1050px 24px;
    }
  }
}
