.page-catalog {
  width: 320px;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}

.page-catalog__main-title {
  margin: 0;
  margin-left: -30px;
  padding: 77px 43px 77px 41px;
  width: 320px;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

