.site-list__item {
  width: 320px;
}

.site-list__link {
  display: block;
  margin: 0;
  padding: 30px 184px 29px 30px;
  width: 106px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background-repeat: no-repeat;

  &:hover {
    position: relative;
    padding-top: 25px;
    padding-bottom: 34px;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 320px;
      height: 5px;
    }

    &:active {
    color: rgba(255, 255, 255, 0.3);
    }
  }
}

.site-list__link--interier {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior1.svg");
  background-position: 256px 30px;

  &:hover {
    background-color: #59d5bc;
    background-image: url("../img/icon-interior1h.svg");
    background-position: 256px 25px;

    &::before {
      background-color: #59d5bc;
    }
  }

  &:active {
    background-image: url("../img/icon-interior1a.svg");
  }
}

.site-list__link--toys {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy1.svg");
  background-position: 240px 30px;

  &:hover {
    background-color: #46c1ae;
    background-image: url("../img/icon-toy1h.svg");
    background-position: 240px 25px;

    &::before {
      background-color: #46c1ae;
    }
  }

  &:active {
    background-image: url("../img/icon-toy1a.svg");
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 334px;
  }

  .site-list__link {
    padding-right: 166px;
    padding-left: 35px;
    width: 133px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      &::before {
        width: 334px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 525px;
  }

  .site-list__link {
    padding-right: 350px;
    width: 140px;

    &:hover {
      &::before {
        width: 525px;
      }
    }
  }

  .site-list__link--interier {
    background-position: 446px 30px;

    &:hover {
      background-position: 446px 25px;
    }
  }

  .site-list__link--toys {
    background-position: 429px 30px;

    &:hover {
      background-position: 429px 25px;
    }
  }
}
