.slide_text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  width: 260px;
  font-size: 15px;
  line-height: 30px;
}

.slide__buyer-name {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.slide__buyer-email {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
}

.slide__button {
  display: block;
  margin: 0;
  padding: 11px 37px 11px 37px;
  width: 130px;
  text-align: center;
  border: 1px solid #ececec;
  box-sizing: border-box;
}
