.social-contacts {
  display: flex;
}

.social-contacts__button {
  display: block;
  margin: 0;
  padding: 0;

  &:hover .social-contacts__icon-button {
    fill: #63d1bb;
  }

  &:focus .social-contacts__icon-button {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.social-contacts__icon-button {
  fill: #231f20;
}

.social-contacts__button--insta {
  margin-right: 40px;
}

.social-contacts__button--fb {
  margin-right: 36px;
}
