.top-menu {
  @include lists;
  width: 320px;
}

.top-menu__item {
  padding: 31px 62px 31px 76px;
  width: 320px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.top-menu__item a {
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.top-menu__item--catalog {
  border-top: 1px solid #ececec;
}

.top-menu__item--search {
  padding-right: 50px;
  padding-left: 30px;
}

.top-menu__link-search {
  padding-left: 32px;

  &:hover path {
    fill: #63d1bb;
  }

  &:active path {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.top-menu__item--search svg {
  margin-right: 21px;
  margin-bottom: -5px;
}

.top-menu__item--basket {
  padding-right: 50px;
  padding-left: 30px;
}

.top-menu__link-basket {
  padding-left: 45px;

  &:hover path {
    fill: #63d1bb;
  }

  &:active path {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.top-menu__item--basket svg {
  margin-right: 21px;
  margin-bottom: -5px;
}

@media (min-width: $tablet-width) {
  .top-menu {
    width: 100%;
  }

  .top-menu__search-noview {
    display: none;
  }

  .top-menu--second {
    width: 347px;
  }

  .top-menu__item--search {
    padding: 31px 50px 31px 30px;
    width: 81px;
    background-position: 31px 35px;
    border-right: 1px solid #ececec;
    border-bottom: none;
    border-left: 1px solid #ececec;
  }

  .top-menu__link-search {
    padding-left: 0;
  }

  .top-menu__item--basket {
    padding: 32px 0 32px 30px;
    width: 264px;
  }

  .top-menu__link-basket {
    padding-left: 29px;
    box-sizing: border-box;
  }

  .top-menu__item--basket svg {
    margin-right: 27px;
  }

  .top-menu__item {
    border-bottom: none;
  }

  .top-menu--tablet {
    width: 334px;
  }

  .top-menu__item--catalog {
    padding: 18px 27px 20px 0;
    width: 167px;
    font-size: 15px;
    border: none;
  }

  .top-menu__item--knitting-order {
    padding: 18px 27px 20px 0;
    width: 167px;
    font-size: 15px;
    border-bottom: none;
  }

  .top-menu--delivery {
    width: 334px;
  }

  .top-menu__item--delivery {
    padding: 18px 0 20px 103px;
    width: 334px;
    font-size: 15px;
    font-weight: normal;
    color: #444444;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .top-menu--first {
    width: 380px;
  }

  .top-menu__item--catalog {
    padding: 32px 23px 32px 0;
    width: 185px;
    font-size: 17px;
    border-right: 1px solid #ececec;
  }

  .top-menu__item--knitting-order {
    padding: 32px 0 32px 34px;
    width: 195px;
    font-size: 17px;
  }

  .top-menu--second {
    width: 350px;
  }

  .top-menu__item--search {
    padding: 32px 31px;
  }

  .top-menu__item--basket {
    width: 266px;
  }

  .top-menu__link-basket {
    padding-left: 31px;
  }

  .top-menu__item--basket svg {
    margin-right: 29px;
  }

  .top-menu--desktop {
    width: 350px;
  }

  .top-menu__item--new {
    padding: 19px 0 21px 0;
    width: 175px;
    font-size: 15px;
  }

  .top-menu__item--sale {
    padding: 19px 33px 21px 45px;
    width: 175px;
    font-size: 15px;
  }

  .top-menu--delivery {
    width: 350px;
  }

  .top-menu__item--delivery {
    padding: 19px 0 21px 15px;
    width: 350px;
    font-size: 15px;
    text-align: end;
  }
}
